*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover ;
    position: relative;
    animation: 20s slide infinite;

}
@keyframes slide{
    0%{
       background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(photo_2026-03-05_10-37-25.jpg);
        }
    50%{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(out_a.jpg);
        }
    100%{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(classroom_activities.jpg);
        }
 }
nav{
    display:flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #8199ef;
    
}

/*--- search box ---*/
.search{
    width: 330px;
    float: left;
    margin-left: 200px;
    padding-top: 10px;
}
.srch{
    font-family:'Time New Roman';
    width: 200px;
    height: 50px;
    background: transparent;
    border: 2px solid #ff7200;
    margin-top: 14px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 50px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition:0.5;
}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.btn:hover{
    background: aqua;
    cursor: pointer;
}
@media (max-width: 700px){
    .search{
        width: 120px;
        margin: 0;
        padding: 10px;
    }
    .btn{
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
}

nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #cc1313;
    text-decoration: none;
    font-size: 18px;
    font-family:Arial;
     font-weight: bold;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff7200;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box span{
    font-size: 40px;
    color: #ff7200;
    text-transform: uppercase;
    letter-spacing: 2px;
}



.text-box h1{
    font-size: 30px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ff7200;
    padding: 10px 30px;
    font-size: 13px;
    font-family:Arial;
    position: relative;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
}
.hero-btn:hover{
    background: #ff7200;
    border: 1px solid #ff7200;
    transition: 1s;
}
nav .fa{
    display:none;
}
@media (max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 14px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background:#f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    } 
}
/*---this is a section for the INFO HUB---*/
.info{
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
        background: #e4d5d9;
}
.info h1{
    font-size: 36px;
    color: #2d2a2a;
    margin-bottom: 20px;
    font-weight:700px;
}
.info p{
    font-size: 25px;
    color: #924545;
    line-height: 30px;
    font-weight: 500px;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.info-col{
    flex-basis: 31%;
    background: #c9adad;
    padding: 20px 12px;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}
.info-col h2{
    font-size: 24px;
    color: #2d2a2a;
    margin-bottom: 15px;
    font-weight: 800px;
}   
.info-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    color: #fff;
}
@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .info-col{
        margin-bottom: 20px;
    }
}
/*--Activities section---*/
.activities{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: #ecfae8;
}
.activities p{
    font-size: 25px;
    color: #2d2a2a;
    line-height: 30px;
    font-weight: 700px;
    padding: 10px;
}



.activities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.activities-col img{
    width: 100%;
    display: block;
}
.layer {
   background:transparent;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
    font-weight: 900px;
}
.layer:hover{
    color: #fff;
   cursor:pointer;
 
}
/*---About us ---*/

.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
     background-color: #777c8e;
}
.footer h4{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 25px;
   margin-top: 20px;
   
}
.footer p{
    font-size: 20px;
    margin-bottom: 20px;
}


@media (max-width: 700px){
    .footer h4{
        font-size: 20px;
        
    }
}

/*----info hub button---*/
.sub-header{
    min-height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(photo_2026-03-07_18-48-57.jpg);
    background-position: center;
    background-size: cover ;
    position: relative;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    font-size: 60px;
    font-weight: 700px;
    padding-top: 8%;
    font-family: 'Time New Roman';
}
@media (max-width: 700px){
    .sub-header h1{
        font-size: 50px;
    }
    
}
/*----this is the about us section---*/
.small-header{
    min-height: 70vh;
    width:100%;
    background: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(photo_2026-02-20_11-51-58.jpg);
    background-position: center;
    background-size: cover;
    color: #e4d5d9;
    
}
.find{
    font-size: 40px;
    font-weight: 700px;
    font-family: 'Times New Roman';
    padding-top: 6%;
    text-align: center;
     position: relative;
}

/*---misa-week activities---*/
.misa {
    min-height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(photo_2026-03-18_15-28-52.jpg);
    background-position: center;
    background-size: 70% 100%;
    position: relative;
}
