*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;


}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: 20s slide infinite;
}
@keyframes slide{
    0%{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(photo_2026-03-05_10-37-25.jpg);
    }
    50%{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(out_a.jpg);
    }
    100%{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(classroom_activities.jpg);
    }
}
nav{
    display:flex;
    padding: 10px  2%;
    justify-content: space-between;
    align-items: center;
    background-color:#1E3A8A;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.7);
    
}

/*--- search box ---*/
.search{
    width: auto;
    display: flex;
    align-items: center;
    float: none;
    margin-left: 0;
    padding-top: 0;
    display: flex;
    order: 3;
    flex: 1 1 100%;
}
.srch{
    font-family:'Times New Roman';
    width: 100%;
    height: 44px;
    background: transparent;
    border: 2px solid #fff;
    margin-top: 0;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    outline: none;
    background: transparent;
    border-radius: 20px 0 0 20px;
}
.srch::placeholder{
    color:#ddd;
}
.btn{
    width: 80px;
    height: 44px;
    background: #06B6D4;
    border: 2px solid #06B6D4;
    color: #fff;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color:#fff;
    transition:0.3s;
}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.btn:hover{
    background: #0891B2;
    cursor: pointer;
}

nav img{
    width: 120px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.9);

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 18px;
    position: relative;
}
.nav-links ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    font-family:Arial;
    font-weight: 900;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #06B6D4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 70%;
}
.nav-links ul li a.active{
    color:#06B6D4;
}
.nav-links ul li a.active::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #06B6D4;
    display: block;
    margin: auto;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box span{
    font-size: 40px;
    color: #06B6D4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 10px 0 30px;
    font-size: 30px;
    color: #fff;
    padding: 0 15px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #06B6D4;
    padding: 10px 30px;
    font-size: 16px;
    font-family:'Times New Roman';
    position: relative;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
}
.hero-btn:hover{
    background: #6392c4;
    border: 3px solid #06B6D4;
    transition: 1s;
}
nav .fa{
    display:none;
}

/*---this is a section for the INFO HUB---*/
.info{
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    background: #F8FAFC;
}
.info h1{
    font-size: 40px;
    color: #2d2a2a;
    margin-bottom: 20px;
    font-weight:700;
}
.info p{
    font-size: 30px;
    color: #924545;
    line-height: 30px;
    font-weight: 500;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.info-col{
    flex-basis: 31%;
    background: #FFFFFF;
    padding: 20px 12px;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}
.info-col h2{
    font-size: 24px;
    color: #2d2a2a;
    margin-bottom: 15px;
    font-weight: 800;
}   
.info-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    color: #fff;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
    text-align: center;
}
.location h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}
.location p{
    font-size: 20px;
    font-weight: 400;
}
.map-container{
    width: 100%;
    margin-top: 20px;
}
.map-container iframe{
    width: 100%;
    height: 600px;
    border-radius: 10px;
}



@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .info-col{
        margin-bottom: 20px;
    }
}
/*--Activities section---*/
.activities{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(misa-shirts.jpg);
    background-position: center;
    background-size: cover ;
    position: relative;
}
.activities h1{
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
}
.activities p{
    font-size: 30px;
    color: #ffffff;
    line-height: 30px;
    font-weight: 700;
    padding: 10px;
}



.activities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.activities-col img{
    width: 100%;
    display: block;
}
.layer {
   background:transparent;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
    font-weight: 900;
    font-size: 30px;
    font-weight: 700;
    color:#1E3A8A;
}
.layer:hover{
    color: #fff;
   cursor:pointer;
 
}
/*---About us ---*/

.footer{
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 40px 20px;
    background-color: #1E3A8A;
}
.footer h4{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
   margin-top: 0;
   
}
.footer p{
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.6;
}
.footer p:last-child{
    padding-bottom: 0;
}
.icons .fab{
    font-size: 28px;
    margin: 0 12px;
    cursor: pointer;
    padding: 10px 0;
    color: #06B6D4;
    transition: 0.3s;
}
.icons .fab:hover {
    color:#FFFFFF;
    transform: translateY(-3px)
}


/*----info hub button---*/
.sub-header{
    min-height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)), url(coding-at-night-stockcake.webp);
    background-position: center;
    background-size: cover ;
    position: relative;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    font-size: 60px;
    font-weight: 700;
    padding-top: 20%;
    font-family: 'Time New Roman';
}

/*----this is the about us section---*/
.small-header{
    min-height: 90vh;
    width:100%;
    background: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)), url(pexels-luis-gomes-166706-546819-scaled.jpg);
    background-position: center;
    background-size: cover;
    color: #e4d5d9;
    
}
.find{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman';
    padding-top: 20%;
    text-align: center;
     position: relative;
}
/*---contact---*/
.contact{
    min-height: 90vh;
    width:100%;
    background: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)), url(programming-coding---study-online-banner.webp);
    background-position: center;
    background-size: cover;
    color: #e4d5d9;
}

/*---misa-week activities---*/
.misa {
    min-height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)), url(photo_2026-03-18_15-28-52.jpg);
    background-position: center;
    background-size: 70% 100%;
    position: relative;
}
.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    max-width: 2000px;
    margin:0 auto;
}
.gallery img,
.gallery video{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    transition: transform 0.3s;
}
.gallery img:hover,
.gallery video:hover{
    transform: scale(1.05);
}
/*---class activities--*/
.class-act{
    min-height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(geometry-1044090_640.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
/*---field activities---*/
.field-act{
    min-height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.3)), url(photo_2026-04-30_17-38-08.jpg);
    background-position: center;
    background-size: 70% 100%;
    position: relative;
}

@media (max-width: 768px){
    .text-box h1{
        font-size: 22px;
    }
    .text-box span {
        font-size: 22px;
    }
    .text-box p{
        font-size: 16px;
    }
    nav {
        padding: 10px 4%;
        position: relative;
        z-index: 10;
    }
    nav img{
        width: 70px;
    }
    .search{
        order: 3;
        margin-top: 10px;
    }
    
    .nav-links{
        position:fixed;
        background:#1E3A8A;
        height: 70vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 1002;
        transition: 0.5s;
        box-shadow: -5px 0 15px rgba(0,0,0,0.4);
    }
    .nav-links ul li{
        display: block;
        padding: 20px 12px;
        color: #FFFFFF;
    }
    .nav-links ul li a{
        font-size: 18px;
    }
    .nav-links.show-menu{
        right: 0;
    }
    .nav-links ul li a:hover{
        color:#06B6D4
    }
    nav .fa{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    } 
    .menu-overlay{
        display: none;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(0,0,0,0.5);
        z-index:1001;
    }
    .menu-overlay.show{
        display:block;
    }
    .nav-links.show-menu{
        right:0;
    }

    .row{
        flex-direction: column;
        padding: 0 20px;
    }
    .info-col, .activities-col{
        margin-bottom: 20px;
    }
    .info, .activities{
        padding-top: 50px;
    }
    .info h1, .activities h1{
        font-size: 28px;
    }
    .info p, .activities p{
        font-size: 16px;
        line-height: 24px;
    }
    .sub-header h1{
        font-size: 32px;
        padding: 20% 15px 0;

    }
    .misa, .class-act, .field-act{
        background-size: cover;
    }

    .location{
        width:90%;
    }
    .map-container iframe{
        height: 300px;
    }
    .footer h4{
        font-size: 30px;
        
    }
    .footer P{
        font-size: 20px;
        
    }
}
